# Tarefa: Organizar Cidades por Estados
Esta é a tarefa proposta para a 6ª aula do curso de Engenharia de Dados da Awari. Siga as instruções para desenvolvê-la e entregá-la.

# O que fazer?
Com base no que foi visto em aula e com base nos dados e arquivos tratados na 5ª aula (aula anterior), a atividade consiste, sempre no workspace em Docker, em:

* Criar script para ler os datasets em /datasets — o script deve:
    * criar uma pasta nomeada com a sigla da UF para cada estado encontrado no arquivo JSON;
    * organizar as cidades por estado um único arquivo CSV, nomeado como cidades.csv;
    * salvar esse arquivo cidades.csv dentro da pasta da UF (estado) correspondente.
* Importar as pastas e arquivos salvos para um bucket no MinIO.
* Exportar os dados para o MongoDB e visualizá-los a partir do banco de dados.

In [ ]:
!pip install boto3
!pip install pymongo

In [8]:
import pandas as pd
import boto3
from io import BytesIO, StringIO
from pymongo import MongoClient, ASCENDING, DESCENDING

In [4]:
dfEstados = pd.read_json('./datasets/estados.json')
dfEstados.head()

   codigo_uf  uf      nome  latitude  longitude regiao
0         11  RO  Rondônia    -10.83     -63.34  Norte
1         12  AC      Acre     -8.77     -70.55  Norte
2         13  AM  Amazonas     -3.47     -65.10  Norte
3         14  RR   Roraima      1.99     -61.33  Norte
4         15  PA      Pará     -3.79     -52.48  Norte

In [122]:
dfCidades = pd.read_csv('./in/municipios.csv')
dfCidades.head()

,codigo_ibge,nome,latitude,longitude,capital,codigo_uf,siafi_id,ddd,fuso_horario
0,5200050,Abadia de Goiás,-16.75730,-49.4412,0,52,1050,62,America/Sao_Paulo
1,3100104,Abadia dos Dourados,-18.48310,-47.3916,0,31,4001,34,America/Sao_Paulo
2,5200100,Abadiânia,-16.19700,-48.7057,0,52,9201,62,America/Sao_Paulo
3,3100203,Abaeté,-19.15510,-45.4444,0,31,4003,37,America/Sao_Paulo
4,1500107,Abaetetuba,-1.72183,-48.8788,0,15,401,91,America/Sao_Paulo

In [44]:
s3_client = boto3.client('s3', 
    endpoint_url='http://127.0.0.1:9000',
    aws_access_key_id='bTL03baSaNHKXulb',
    aws_secret_access_key='jHJ5XByBNIs3UNcoKM9GCGALMYZEgo85',
    aws_session_token=None,
    config=boto3.session.Config(signature_version='s3v4'),
    verify=False,
    region_name='sa-east-1'
)

s3_client

In [41]:
dfCidades.loc[(dfCidades.codigo_uf==31)]

,codigo_ibge,nome,latitude,longitude,capital,codigo_uf,siafi_id,ddd,fuso_horario
1,3100104,Abadia dos Dourados,-18.4831,-47.3916,0,31,4001,34,America/Sao_Paulo
3,3100203,Abaeté,-19.1551,-45.4444,0,31,4003,37,America/Sao_Paulo
12,3100302,Abre Campo,-20.2996,-42.4743,0,31,4005,31,America/Sao_Paulo
15,3100401,Acaiaca,-20.3590,-43.1439,0,31,4007,31,America/Sao_Paulo
29,3100500,Açucena,-19.0671,-42.5419,0,31,4009,33,America/Sao_Paulo
...,...,...,...,...,...,...,...,...,...
5522,3171808,Virginópolis,-18.8154,-42.7015,0,31,5437,33,America/Sao_Paulo
5523,3171907,Virgolândia,-18.4738,-42.3067,0,31,5439,33,America/Sao_Paulo
5525,3172004,Visconde do Rio Branco,-21.0127,-42.8361,0,31,5441,32,America/Sao_Paulo
5543,3172103,Volta Grande,-21.7671,-42.5375,0,31,5443,32,America/Sao_Paulo
5551,3172202,Wenceslau Braz,-22.5368,-45.3626,0,31,5421,35,America/Sao_Paulo

In [162]:
totalCidades = 0
for index, row in dfEstados.iterrows():
    dfCidadesEstado = dfCidades.loc[dfCidades.codigo_uf==row['codigo_uf']]
    dfCidadesEstado = dfCidadesEstado.assign(uf=row['uf'])
    dfCidadesEstado = dfCidadesEstado.assign(nome_uf=row['nome'])
    
    csv_buffer = csv_buffer = StringIO()
    dfCidadesEstado.to_csv(csv_buffer)
    
    s3_client.put_object(Body=csv_buffer.getvalue(), Bucket='aula-06', Key=f"exercicio/estados_cidades/{row['uf']}/cidades_{row['uf']}.csv")
    print (f"[INFO] {len(dfCidadesEstado)} cidades do estado {row['nome']} salvas.")
    totalCidades+=len(dfCidadesEstado)

print (f"[INFO] {totalCidades} salvas com sucesso.")
dfCidadesEstado

[INFO] 52 cidades do estado Rondônia salvas.
[INFO] 22 cidades do estado Acre salvas.
[INFO] 62 cidades do estado Amazonas salvas.
[INFO] 15 cidades do estado Roraima salvas.
[INFO] 144 cidades do estado Pará salvas.
[INFO] 16 cidades do estado Amapá salvas.
[INFO] 139 cidades do estado Tocantins salvas.
[INFO] 217 cidades do estado Maranhão salvas.
[INFO] 224 cidades do estado Piauí salvas.
[INFO] 184 cidades do estado Ceará salvas.
[INFO] 167 cidades do estado Rio Grande do Norte salvas.
[INFO] 223 cidades do estado Paraíba salvas.
[INFO] 185 cidades do estado Pernambuco salvas.
[INFO] 102 cidades do estado Alagoas salvas.
[INFO] 75 cidades do estado Sergipe salvas.
[INFO] 417 cidades do estado Bahia salvas.
[INFO] 853 cidades do estado Minas Gerais salvas.
[INFO] 78 cidades do estado Espírito Santo salvas.
[INFO] 92 cidades do estado Rio de Janeiro salvas.
[INFO] 645 cidades do estado São Paulo salvas.
[INFO] 399 cidades do estado Paraná salvas.
[INFO] 295 cidades do estado Santa Catarina salvas.
[INFO] 497 cidades do estado Rio Grande do Sul salvas.
[INFO] 79 cidades do estado Mato Grosso do Sul salvas.
[INFO] 141 cidades do estado Mato Grosso salvas.
[INFO] 246 cidades do estado Goiás salvas.
[INFO] 1 cidades do estado Distrito Federal salvas.
[INFO] 5570 salvas com sucesso.

,codigo_ibge,nome,latitude,longitude,capital,codigo_uf,siafi_id,ddd,fuso_horario,uf,nome_uf
755,5300108,Brasília,-15.7795,-47.9297,1,53,9701,61,America/Sao_Paulo,DF,Distrito Federal

## Salvar informacoes do minIO para o MongoDB

In [163]:
objetos_s3 = s3_client.list_objects(Bucket="aula-06",Prefix="exercicio/estados_cidades")

objetos_s3["ResponseMetadata"]

{'RequestId': '176B18A4E44A73E3',
 'HostId': 'e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855',
 'HTTPStatusCode': 200,
 'HTTPHeaders': {'server': 'nginx/1.19.2',
  'date': 'Thu, 22 Jun 2023 21:33:04 GMT',
  'content-type': 'application/xml',
  'content-length': '9967',
  'connection': 'keep-alive',
  'accept-ranges': 'bytes',
  'content-security-policy': 'block-all-mixed-content',
  'strict-transport-security': 'max-age=31536000; includeSubDomains',
  'vary': 'Origin, Accept-Encoding',
  'x-amz-bucket-region': 'sa-east-1',
  'x-amz-id-2': 'e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855',
  'x-amz-request-id': '176B18A4E44A73E3',
  'x-content-type-options': 'nosniff',
  'x-xss-protection': '1; mode=block'},
 'RetryAttempts': 0}

In [164]:
cidades = []
for obj in objetos_s3["Contents"]:
    chave = obj["Key"]
    
    obj = s3_client.get_object(
        Bucket='aula-06', 
        Key=chave
    ).get("Body")

    data = pd.read_csv(obj)
    data.reset_index(inplace=True)
    data_dict = data.to_dict("records")
    print(f"[INFO][{chave}][{len(data)}]")
    cidades.extend(data_dict)

print(f"[INFO] Cidades p/ salvar: {len(cidades)}")

[INFO][exercicio/estados_cidades/AC/cidades_AC.csv][22]
[INFO][exercicio/estados_cidades/AL/cidades_AL.csv][102]
[INFO][exercicio/estados_cidades/AM/cidades_AM.csv][62]
[INFO][exercicio/estados_cidades/AP/cidades_AP.csv][16]
[INFO][exercicio/estados_cidades/BA/cidades_BA.csv][417]
[INFO][exercicio/estados_cidades/CE/cidades_CE.csv][184]
[INFO][exercicio/estados_cidades/DF/cidades_DF.csv][1]
[INFO][exercicio/estados_cidades/ES/cidades_ES.csv][78]
[INFO][exercicio/estados_cidades/GO/cidades_GO.csv][246]
[INFO][exercicio/estados_cidades/MA/cidades_MA.csv][217]
[INFO][exercicio/estados_cidades/MG/cidades_MG.csv][853]
[INFO][exercicio/estados_cidades/MS/cidades_MS.csv][79]
[INFO][exercicio/estados_cidades/MT/cidades_MT.csv][141]
[INFO][exercicio/estados_cidades/PA/cidades_PA.csv][144]
[INFO][exercicio/estados_cidades/PB/cidades_PB.csv][223]
[INFO][exercicio/estados_cidades/PE/cidades_PE.csv][185]
[INFO][exercicio/estados_cidades/PI/cidades_PI.csv][224]
[INFO][exercicio/estados_cidades/PR/cidades_PR.csv][399]
[INFO][exercicio/estados_cidades/RJ/cidades_RJ.csv][92]
[INFO][exercicio/estados_cidades/RN/cidades_RN.csv][167]
[INFO][exercicio/estados_cidades/RO/cidades_RO.csv][52]
[INFO][exercicio/estados_cidades/RR/cidades_RR.csv][15]
[INFO][exercicio/estados_cidades/RS/cidades_RS.csv][497]
[INFO][exercicio/estados_cidades/SC/cidades_SC.csv][295]
[INFO][exercicio/estados_cidades/SE/cidades_SE.csv][75]
[INFO][exercicio/estados_cidades/SP/cidades_SP.csv][645]
[INFO][exercicio/estados_cidades/TO/cidades_TO.csv][139]
[INFO] Cidades p/ salvar: 5570

In [2]:
mongodb_client =  MongoClient("mongodb://root:rootpassword@127.0.0.1:27017/?serverSelectionTimeoutMS=5000&connectTimeoutMS=10000&authSource=admin&authMechanism=SCRAM-SHA-256")
db = mongodb_client['exercicios']
collection = db["cidades"]

mongodb_client

MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True, serverselectiontimeoutms=5000, connecttimeoutms=10000, authsource='admin', authmechanism='SCRAM-SHA-256')

In [166]:
cidades[0]

{'index': 0,
 'Unnamed: 0': 26,
 'codigo_ibge': 1200013,
 'nome': 'Acrelândia',
 'latitude': -9.82581,
 'longitude': -66.8972,
 'capital': 0,
 'codigo_uf': 12,
 'siafi_id': 643,
 'ddd': 68,
 'fuso_horario': 'America/Rio_Branco',
 'uf': 'AC',
 'nome_uf': 'Acre'}

In [167]:
#Tratamento do dados para remover colunas sem utilidade
for cidade in cidades:
    try:
        del cidade["index"]
        del cidade["Unnamed: 0"]
    except Exception as e:
        pass

cidades[0]

{'codigo_ibge': 1200013,
 'nome': 'Acrelândia',
 'latitude': -9.82581,
 'longitude': -66.8972,
 'capital': 0,
 'codigo_uf': 12,
 'siafi_id': 643,
 'ddd': 68,
 'fuso_horario': 'America/Rio_Branco',
 'uf': 'AC',
 'nome_uf': 'Acre'}

In [168]:
resultado = collection.insert_many(cidades)
print(f"[INFO] Inseridos {len(resultado.inserted_ids)} registros no banco de dados.")

[INFO] Inseridos 5570 registros no banco de dados.

# Recuperando dados MongoDB

In [13]:
cidadesPorUF = collection.find({}).sort([("nome", ASCENDING)])
dfCidadesPorUF = pd.DataFrame(list(cidadesPorUF))

dfCidadesPorUF

,_id,codigo_ibge,nome,latitude,longitude,capital,codigo_uf,siafi_id,ddd,fuso_horario,uf,nome_uf
0,6494be310417200165ceec87,5200050,Abadia de Goiás,-16.75730,-49.4412,0,52,1050,62,America/Sao_Paulo,GO,Goiás
1,6494be310417200165ceee56,3100104,Abadia dos Dourados,-18.48310,-47.3916,0,31,4001,34,America/Sao_Paulo,MG,Minas Gerais
2,6494be310417200165ceec88,5200100,Abadiânia,-16.19700,-48.7057,0,52,9201,62,America/Sao_Paulo,GO,Goiás
3,6494be310417200165cef287,1500107,Abaetetuba,-1.72183,-48.8788,0,15,401,91,America/Sao_Paulo,PA,Pará
4,6494be310417200165ceee57,3100203,Abaeté,-19.15510,-45.4444,0,31,4003,37,America/Sao_Paulo,MG,Minas Gerais
...,...,...,...,...,...,...,...,...,...,...,...,...
5565,6494be310417200165cef880,4301552,Áurea,-27.69360,-52.0505,0,43,8487,54,America/Sao_Paulo,RS,Rio Grande do Sul
5566,6494be310417200165cef59d,4101150,Ângulo,-23.19460,-51.9154,0,41,5509,44,America/Sao_Paulo,PR,Paraná
5567,6494be310417200165ceea5b,2900504,Érico Cardoso,-13.42150,-42.1352,0,29,3309,77,America/Sao_Paulo,BA,Bahia
5568,6494be310417200165cef2d8,1505106,Óbidos,-1.90107,-55.5208,0,15,501,93,America/Sao_Paulo,PA,Pará
5569,6494be310417200165cefd46,3533809,Óleo,-22.94350,-49.3419,0,35,6777,14,America/Sao_Paulo,SP,São Paulo